<h1>User: {{user.username}}</h1> 
<h1>List name: {{list.title}} </h1>
{{!-- <h6>List id: {{list._id}} </h6> --}}


<div id="userLists">
<form action='/lists/:id-search' method="POST">
    <label for="">Movie id-test: </label>
	<input type="text" name="movieIdFromApi">

    <br>
    <label for="">Rate the movie (1 to 10): </label>
	<input type="number" name="rating">

    <br>
	<button type="submit">Add movie to my list</button>
</form>




{{#with list}}
    {{#each movies}}
        <br><br><br>
        <p>{{movie_Id}}</p>
        <p>My rating: {{rating}}</p>
        <form action="/lists/{{ ../_id }}/movie-delete/{{ movie_Id }}" method="POST">
        <button type="submit">Delete this movie from my list</button>
        </form>
    {{/each}}
{{/with}}

{{#each results}}
    {{title}}
{{/each}}



<br><br><br><br><br>
<form action="/lists/{{ list._id }}/delete" method="POST">
    <button type="submit">Delete this List</button>
</form>
</div>



<br><br><br>
<a href="/profile/{{user._id}}">Back to user profile</a>

<div id="search">
    <div>
        <form action="/lists/:id-search" method="GET">
            <input type="text" name='movie' id='movie' placeholder="Movie Name">
            <button type="submit" id="searchBtn">Search</button>
        </form>

    </div>


    <div>
    {{#each results}}
        <div>
        {{> movieCard this}}
        </div>
       
        {{!-- <form action="" method=""> --}}
        <input type="number" name='rate' id='rate' min="0" max="10">
        <button type="submit" id="RateBtn">Rate</button>
        {{!-- </form> --}}
        <button type="submit" id="addBtn">Add Movie to watch list</button>
    {{/each}}
    </div>

</div>